<h1>OPERATOR ARITMATIKA </h1>

In [9]:
# Jumlah awal apel 
budi = 12

# Jumlah yang di bagikan kepada teman budi
teman = 4

apel_dibagi_teman = budi // teman 
print(f"Setiap teman Budi mendapatkan {apel_dibagi_teman} apel.")

addApel = 8

#hasil
totalapel = budi + addApel
print(f"Total apel yang dimiliki Budi sekarang adalah {totalapel} apel.")

Setiap teman Budi mendapatkan 3 apel.
Total apel yang dimiliki Budi sekarang adalah 20 apel.

<h1>OPERATOR PERBANDINGAN</h1>

In [13]:
Siti = 160
Andi = 165
if Siti > Andi :
    print("Siti lebih Tinggi")
elif Siti < Andi :
     print("Andi lebih Tinggi")
else :
      print("kedua sama Tinggi")

Andi lebih Tinggi

<h1>OPERATOR LOGIKA</h1>

In [27]:
cuaca = True
pr = False

if cuaca or pr :
    print("Budi bisa bermain")
else :
     print("Budi Tidak bisa bermain")

Budi bisa bermain

<h1>OPERATOR BITWISE</h1>

In [7]:
bil1 = int(input('Masukkan bilangan:'))
bil2 = int(input('Masukkan bilangan:'))

print(f"Biner dari bilangan (bill): (bin(bill))")
print(f"Biner dari bilangan (bil2): (bin(bil2))\n")

print("AND:")
AND = bil1 & bil2
print(bin(bil1))
print(bin(bil2))
print(bin(AND))
print(f"Hasilnya adalah (AND)\n") #hasil AND

print("OR:")
OR = bil1 & bil2
print(bin(bil1))
print(bin(bil2))
print(bin(OR))
print(f"Hasilnya adalah (OR) \n") #hasil OR

print("XOR:")
XOR = bil1 & bil2
print(bin(bil1))
print(bin(bil2))
print(bin(XOR))
print("Hasilnya adalah XOR \n") #hasil XOR

Masukkan bilangan: 2
Masukkan bilangan: 3

Biner dari bilangan (bill): (bin(bill))
Biner dari bilangan (bil2): (bin(bil2))

AND:
0b10
0b11
0b10
Hasilnya adalah (AND)

OR:
0b10
0b11
0b10
Hasilnya adalah (OR)

XOR:
0b10
0b11
0b10
Hasilnya adalah XOR

<h1>OPERATOR PENUGASAN</h1>

In [17]:
saldopulsa = 50000
isiulang = 20000
saldopulsa += isiulang 

hargapaket = 30000
saldopulsa -= hargapaket  

#Sisa saldo
print("Sisa saldo pulsa adalah: Rp", saldo_pulsa)

Sisa saldo pulsa adalah: Rp 40000

<h1>OPERATOR KEANGGOTAAN</h1>

In [50]:
name = input("Masukkan nama :") 
listNama = ["Andi","Budi","Citra","Dewi"]
print(name in listNama)
print(name in listNama[0])
print(name not in listNama)
print(name not in listNama[0])

kata = input("Masukkan Kata")
listKata = "saya suka belajar pyhton"
print(kata in listKata)
print(kata in listKata[0])
print(kata not in listKata)
print(kata not in listKata[0])

Masukkan nama : Andi

True
True
False
False

Masukkan Kata saya suka belajar python

False
False
True
True

<h1>OPERATOR IDENTITAS</h1>

In [56]:
x = 5
y = 5

print("Memori dari x", id(x))
print("Memori dari y", id(y))
print( x is y)
print(x is not y)

Memori dari x 140730512779832
Memori dari y 140730512779832
True
False

In [66]:
list1 =[3,5,7]
list2 =[3,5,7]

list1 = list2

print(list1 is list2)
print(list1 is not list2)

True
False

<h1>OPERATOR TERNARY</h1>

In [82]:
number = int(input("Masukkan angka :"))
hasil = "Lebih besar dari 100" if number >= 100 else "Lebih kecil dari 100"
print(hasil)

Masukkan angka : 150

Lebih besar dari 100

In [91]:
nilai = int(input("Masukkan nilai :"))
nilai2 = int(input("Masukkan nilai :"))

status = "LULUS" if nilai >= 70 else "TIDAK LULUS"
status2 = "LULUS" if nilai >= 70 else "TIDAK LULUS"
print(status)
print(status2)

Masukkan nilai : 80
Masukkan nilai : 100

LULUS
LULUS